<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/"><i class="bi bi-mortarboard-fill"></i> Quản Lý Sinh Viên</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="bi bi-building"></i> Danh sách Sinh Viên</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button"
                        data-bs-toggle="dropdown" style="font-size: 1.05rem; letter-spacing: 0.3px;">
                        <i class="bi bi-gear-fill"></i> QUẢN LÝ
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="/khoa"><i class="bi bi-building"></i> Quản lý Khoa</a></li>
                        <li><a class="dropdown-item" href="/lop"><i class="bi bi-people"></i> Quản lý Lớp</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i>
                        <%= user ? user.username : 'TÀI KHOẢN' %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <% if (user) { %>
                            <li>
                                <a class="dropdown-item" href="/settings">
                                    <i class="bi bi-gear"></i> Cài đặt
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="/logout"><i
                                        class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
                            <% } else { %>
                                <li><a class="dropdown-item" href="/login"><i class="bi bi-box-arrow-in-right"></i> Đăng
                                        nhập</a></li>
                                <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>